<%= form_with(model: atm_service, local: true) do |form| %>
  <% if atm_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atm_service.errors.count, "error") %> prohibited this atm_service from being saved:</h2>

      <ul>
        <% atm_service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
